/*GENEREL CSS*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.logo_mobil {
    width: 50px;
    margin: 0.5em;
}

.btn {
    color: #E6D7AF;
    border: #E6D7AF;

}

.wp-block-video {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

video {
    width: 100vw;
}

h1 {
    font-family: "Athena-Regular";
    text-align: center;
    font-size: 2em;
    margin: 1em;
    color: #626262;
    font-weight: 100;
    letter-spacing: 0.2em;

}

h2,
h3 {
    font-family: "Athena-Regular";
    text-align: center;
    font-size: 1.4em;
    color: #626262;
    font-weight: 90;

}


li {
    font-family: "Athena-Regular";
    list-style: none;
    text-decoration: none;
    color: #626262;
}

a {
    font-family: "Athena-Regular";
    list-style: none;
    text-decoration: none;
    color: #626262;
}

p {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    color: #626262;
    line-height: 1.7em;
}

.wp-block-separator {
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #99AABF;
    height: 25vh;
}

footer ul li {
    padding-bottom: 0.5em;
    color: #fff;
}


footer ul li a {
    font-size: 1.2em;
    color: #fff;
    padding-left: 1em;
    text-decoration: none;
}

footer i {
    padding-right: 0.3em;
    color: #fff;
}

footer p {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;
}

#forside_tekst {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 2em;
    color: #626262;
}

.wp-block-buttons {
    border-top: 1px solid #A69472;
    border-bottom: 1px solid #A69472;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wp-block-buttons a:hover {
    color: #dcf3f7;
    transition: .6s;
}



/*MENU MOBIL CSS*/

.burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 1em;
    cursor: pointer;

}

.burger div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 25px;
    height: 3px;
    background-color: #99AABF;
    margin: 2.5px;
    text-align: end;

}

#mobil_nav {
    justify-content: space-between;
}


.nav_links {
    width: 60%;
    z-index: 2;
}

html {
    overflow-x: hidden;
}


.nav_links {
    position: absolute;
    right: 0px;
    height: 35vh;
    top: 6vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-180%);
}

.nav_links li {
    padding: 0.2em;
    margin: 1em;
    border-bottom: 0.5px solid #99AABF;
    border-top: 0.5px solid #99AABF;
    font-family: "Athena-Regular";

}

.nav_links li a {
    color: #99AABF;
}



.nav-active {
    transform: translateY(0%);
}

nav {
    display: flex;
    justify-content: space-around;
}

#main_nav {
    display: none;
}

/* unvisited link */
a:link,
a:visited {
    color: #626262;
}

footer a:visited,
footer a:link,
footer a:active {
    color: white;
}

/* selected link */
a:active {
    color: #99AABF;
}

button {
    border-color: #C8E2E6;
    font-weight: 100;
}


/*-----------Animationer---------*/
.drop {
    animation-name: drop_kf;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-100vw);
    }

    to {
        transform: translateY(4vw);
    }
}


/*FORSIDE MOBIL CSS*/

.wp-block-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}















































/*PRODUKTER MOBIL CSS*/

.smykker {
    border: 0.5px solid #99AABF;
    margin: 1.2em 1.2em 2em 1.2em;
    cursor: pointer;
}

.smykker img {
    width: 100%;
    height: 50vh;
    padding: 30px 30px 0px 30px;
    margin: auto;
}

.smykker:hover {
    transform: scale(1.02);
    transition: 1s;
}

.smykker .navn {
    font-size: 2em;
    margin: 0.5em 1em -0.5em 1em;
}

.pris {
    font-size: 1.3em;
    text-align: end;
    margin: 0 30px 5px 30px;
}

.farve {
    font-size: 1.3em;
    margin: 0 30px 5px 30px;
}

.smykker div {
    display: flex;
    justify-content: space-between;
}

.filter_nav {
    margin: 2.5em 1em 1em 1em;
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    border-top: 1px solid #C8E2E6;
    border-bottom: 1px solid #C8E2E6;
    font-size: 1.1em;
    cursor: pointer;
    font-family: "Athena-Regular";
    color: #626262;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.03);
    transition: 1s;
}

.valgt {
    font-weight: bold;
}





/*SINGLEVIEW MOBIL CSS*/

.breadcrumb {
    text-transform: uppercase;
    font-size: 0.8em;
    display: flex;
    margin: 0 2em;
}

.breadcrumb li {
    padding: 1em 0;
}

.breadcrumb li a {
    border-top: 1px solid #C8E2E6;
    border-bottom: 1px solid #C8E2E6;
}

.breadcrumb li + li:before {
    padding: 8px;
    color: #99AABF;
    content: "/\00a0";
}

.breadcrumb li:last-child {
    opacity: 0.7;
}

.breadcrumb li a:hover {
    opacity: 0.5;
    border-top: 1px solid #99AABF;
    border-bottom: 1px solid #99AABF;
    transform: scale(1.1);
    transition: .7s;
}

.pris {
    font-size: 1.5em;
    text-align: end;
    margin: 0 30px 0px 30px;
    font-weight: bold;
}

.detalje button {
    background-color: transparent;
    border: none;
    border-top: 1px solid #a69472;
    border-bottom: 1px solid #a69472;
    cursor: pointer;
}

.detalje button:hover {
    transform: scale(1.1);
    transition: 1s;
}

.detalje button a {
    color: #a69472;
}

.detalje .col div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.detalje img {
    width: 100%;
}

/*SINGLE VIEW MOBIL CSS*/

.detalje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalje img {
    align-self: center;
}

























/*OM MOBIL CSS*/


.display .navn {
    display: none;
}

#om article {
    width: 100vw;
    padding: 1em;
    margin: auto;
}

#om h1 {

    margin-bottom: 0;
}



#om .wp-block-video video {

    width: 100vw;
    object-fit: contain;
    padding-bottom: 30px;

}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.display img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    padding: 30px;
    border: 1px solid #99AABF;

}

/*
.citat {
    width: 100vw;
    height: 100%;
    background-color: #99AABF;
    opacity: 70%;
    margin-bottom: 50px;
}
*/

.citat p {
    color: #99AABF;
    padding-bottom: 20px;
    text-align: center;

    font-size: 1em;
}

/*
h3 .data_container {
    border: 1px 1px 1px 1px #99AABF;
}*/



























/*KONTAKT MOBIL CSS*/


#kontakt h1 {

    margin-bottom: 0;
}




























































































/*MEDIA QUERYS IPAD CSS*/

@media screen and (min-width:500px) {
    .smykker img {
        height: 60vh;
    }
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .nav_links li {
        margin: 0.7em;
        font-size: 1.5em;

    }

    p .forside {
        font-size: 1.1em;
    }

    footer a {
        font-size: 1.6em;
    }

    button a {
        font-size: 1.7em;
    }

    .burger div {
        width: 35px;
        height: 4px;
        margin: 3px;

    }


    /*------ OM IPAD -------*/
    .data_container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 6px;
    }

    .display .navn {
        display: none;
    }

    .display img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #om .wp-block-video video {
        width: 750px;

    }


    /*------ KONTAKT -----*/


    #kontakt .wpcf7-submit {
        width: auto;
    }

    #kontakt .wp-block-column form {
        width: 600px;
    }

    #kontakt .wpcf7-validates-as-email,
    .wpcf7-validates-as-required {
        width: 500px;
    }

    #kontakt .wp-block-column form textarea {
        width: 500px;
    }


    /*------ SINGLEVIEW -------*/
    .detalje .col div {
        margin-bottom: 3em;
        margin-top: 2em;
    }

    .detalje img {
        padding: 1em;
        width: 750px;
    }

    .detalje .col:first-child {
        display: flex;
        justify-content: center;
    }

    /*-------- PRODUKTER ------*/
    .smykker img {
        height: 50vh;
    }

    .filter_nav {
        margin: 2.5em 5em 1em 5em;
        font-size: 1.1em;
    }

    .data_container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-gap: 6px;
    }
}


/*MEDIA QUERY WEB CSS*/

@media screen and (min-width:1080px) {

    nav {
        display: block;
    }

    h1,
    h2 {
        margin-top: 1.5em;
    }

    p {
        margin-left: 2em;
        margin-right: 2em;
    }

    .logo_mobil {
        display: none;
    }

    .logo {
        width: 80px;
        margin: 0.3em;
    }


    #main_nav {
        display: block;
        padding-top: 2em;
        padding-left: 4em;
        padding-right: 4em;

    }

    #main_nav ul {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        border-top: 3px solid #99AABF;
        border-bottom: 3px solid #99AABF;

    }

    #main_nav ul li {
        letter-spacing: 0.2em;
    }


    #main_nav ul li a {
        text-decoration: none;
        color: #626262;
    }

    #main_nav ul li a:hover {
        color: #bababa;
        transition: .3s;
    }

    .burger {
        display: none;
    }

    .wp-block-separator {
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .wp-block-video {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    video {
        width: 90vw;
        height: 80vh;
        object-fit: cover;
    }



    .wp-block-columns {
        display: flex;
        justify-content: center;
        margin: 2em;
    }

    .wp-block-column img {
        width: 600px;
    }

    p .forside {
        font-size: 1.1em;
        width: 300px;
    }

    .wp-block-buttons {
        font-size: 1.1em;
    }

    .wp-block-buttons:hover {
        transform: scale(1.1);
        transition: .8s;
    }



    /*OM WEB*/

    .data_container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 50px;
    }

    .display .navn {
        display: none;

    }



    #om article {
        width: 100vw;
        margin: auto;
        padding-bottom: 0;
    }

    #om h1 {
        padding: 0;
    }

    .display img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin: auto;
        padding: 30px;
    }

    #om .wp-block-video video {
        width: 750px;

    }

    .citat p {
        color: #99AABF;
        padding-bottom: 50px;

        text-align: center;

        font-size: 1.5em;
    }

    /* ----- Kontakt ------ */

    #kontakt .wp-block-columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }


    /*FOOTER*/

    footer {
        padding: 0 5em;
    }

    footer a {
        font-size: 1em;
    }


    /*SINGLEVIEW*/
    .detalje .col_wrap {
        display: flex;
        align-items: center;
        margin: 0 4em 5em 4em;
    }

    .detalje .col {
        flex-grow: 1;
        flex-basis: 300px;
        display: block;
    }

    .pris {
        font-size: 1.7em;
    }

    .detalje .col div {
        margin-top: 4em;
    }

    .breadcrumb {
        margin: 2em 5em 0 5em;
    }

    .detalje img {
        width: 100%;
        height: 50vw;
        padding: 0;
    }

    /*PRODUKTER*/
    .data_container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .smykker img {
        height: 30vh;
    }

    .filter_nav {
        margin: 2.5em 14em 1em 14em;
    }
}































/*MENU WEB CSS*/















































/*GENEREL WEB CSS*/

















































/*PRODUKTER WEB CSS*/

















































/*OM WEB CSS*/

















































/*KONTAKT WEB CSS*/
















































/*SINGLE VIEW WEB CSS*/
/* FONTS */

@font-face {
    font-family: "Athena-Regular";

    src: url("fonts/Athena-RegularPERSONALUSEONLY.woff") format("woff"),
        /* Modern Browsers */
        url("fonts/Athena-RegularPERSONALUSEONLY.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*

@font-face {
    font-family: 'bellotaregular';
    src: url('fonts/Bellota-Regular-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Regular-webfont.woff') format('woff'),
        url('fonts/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/*
@font-face {
    font-family: 'bellotalight_italic';
    src: url('fonts/Bellota-LightItalic-webfont.woff2') format('woff2'),
        url('fonts/Bellota-LightItalic-webfont.woff') format('woff'),
        url('fonts/Bellota-LightItalic-webfont.svg#bellotalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotalight';
    src: url('fonts/Bellota-Light-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Light-webfont.woff') format('woff'),
        url('fonts/Bellota-Light-webfont.svg#bellotalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/*
@font-face {
    font-family: 'bellotaitalic';
    src: url('fonts/Bellota-Italic-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Italic-webfont.woff') format('woff'),
        url('fonts/Bellota-Italic-webfont.ttf') format('truetype'),
        url('fonts/Bellota-Italic-webfont.svg#bellotaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/*
@font-face {
    font-family: 'bellotabold_italic';
    src: url('fonts/Bellota-BoldItalic-webfont.eot');
    src: url('fonts/Bellota-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bellota-BoldItalic-webfont.woff2') format('woff2'),
        url('fonts/Bellota-BoldItalic-webfont.woff') format('woff'),
        url('fonts/Bellota-BoldItalic-webfont.ttf') format('truetype'),
        url('fonts/Bellota-BoldItalic-webfont.svg#bellotabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/*
@font-face {
    font-family: 'bellotabold';
    src: url('fonts/Bellota-Bold-webfont.eot');
    src: url('fonts/Bellota-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bellota-Bold-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Bold-webfont.woff') format('woff'),
        url('fonts/Bellota-Bold-webfont.ttf') format('truetype'),
        url('fonts/Bellota-Bold-webfont.svg#bellotabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
