/*GENEREL CSS*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.wp-block-video {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

video {
    width: 100%;
}

h1 {
    font-family: "Athena-Regular";
    text-align: center;
    font-size: 2em;
    margin: 1em;
    color: #626262;
    font-weight: 100;
    letter-spacing: 0.2em;

}

h2,
h3 {
    font-family: "Athena-Regular";
    text-align: center;
    font-size: 1.4em;
    color: #626262;
    font-weight: 90;
    letter-spacing: 0.2em;
}

a,
li {
    font-family: "Athena-Regular";
    list-style: none;
    text-decoration: none;
    color: #000;


}

p .forside {
    font-size: 1.1em;
    font-family: "bellotalight";
    margin: 1em;
    color: #626262;
}

.wp-block-separator {
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #99AABF;
    height: 20vh;
}

footer ul li {
    padding-bottom: 0.5em;
    text-decoration: underline;
    color: #fff;
}

footer ul li a {
    font-size: 1.2em;
    color: #fff;
    padding-left: 1em;
}

footer i {
    padding-right: 0.3em;
    color: #fff;
}

#forside_tekst {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1em;
    margin-bottom: 2em;
    color: #626262;
}

.wp-block-buttons {
    border-top: 1px solid #C8E2E6;
    border-bottom: 1px solid #C8E2E6;
    font-size: 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wp-block-buttons a:hover {
    color: #dcf3f7;
    transition: .6s;
}



/*MENU MOBIL CSS*/

.burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin: 1em;
    cursor: pointer;

}

.burger div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 2.5px;
    text-align: end;

}



.nav_links {
    width: 60%;
    z-index: 2;
}

html {
    overflow-x: hidden;
}


.nav_links {
    position: absolute;
    right: 0px;
    height: 35vh;
    top: 2vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-180%);
}

.nav_links li {
    padding: 0.2em;
    margin: 1em;
    font-size: 1em;
    border-bottom: 0.5px solid #000;
    border-top: 0.5px solid #000;
    font-family: "Athena-Regular";

}



.nav-active {
    transform: translateY(0%);
}

nav {
    display: flex;
    justify-content: space-around;
}

#main_nav {
    display: none;
}

button {
    border-color: #C8E2E6;
}


/*-----------Animationer---------*/
.drop {
    animation-name: drop_kf;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-100vw);
    }

    to {
        transform: translateY(4vw);
    }
}


/*FORSIDE MOBIL CSS*/

.wp-block-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}















































/*PRODUKTER MOBIL CSS*/

















































/*OM MOBIL CSS*/









































/*KONTAKT MOBIL CSS*/

















































/*SINGLE VIEW MOBIL CSS*/

















































/*MEDIA QUERYS IPAD CSS*/

@media screen and (min-width:768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .nav_links li {
        margin: 0.7em;
        font-size: 1.5em;

    }

    p .forside {
        font-size: 1.8em;
    }

    footer a {
        font-size: 1.6em;
    }

    button a {
        font-size: 1.7em;
    }

    .burger div {
        width: 35px;
        height: 4px;
        margin: 3px;

    }
}


/*MEDIA QUERY WEB CSS*/

@media screen and (min-width:1080px) {

    h1,
    h2 {
        margin-top: 1.5em;
    }

    p {
        margin-left: 2em;
        margin-right: 2em;
    }

    #main_nav {
        display: flex;
        justify-content: center;
        display: block;
        padding-top: 2em;
        padding-left: 4em;
        padding-right: 4em;

    }

    #main_nav ul {
        display: flex;
        justify-content: space-around;
        border-top: 3px solid #99AABF;
        border-bottom: 3px solid #99AABF;

    }

    #main_nav ul li {
        padding-top: 1em;
        padding-bottom: 1em;
        letter-spacing: 0.2em;
    }


    #main_nav ul li a {
        text-decoration: none;
        color: #626262;
        padding: 1em;
    }

    #main_nav ul li a:hover {
        color: #bababa;
        transition: .3s;
    }

    .burger {
        display: none;
    }

    .wp-block-separator {
        margin-top: 4em;
        margin-bottom: 4em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .wp-block-video {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    video {
        width: 1200px;
    }



    .wp-block-columns {
        display: flex;
        justify-content: center;
        margin: 2em;



    }

    .wp-block-column img {
        width: 600px;
    }

    p .forside {
        font-size: 1.3em;
        width: 300px;
    }

    #btn {
        font-size: 0.8em;
        justify-content: flex-end;
    }
}

/*

#om {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
*/

.display img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: auto;
    padding: 30px;
}

footer {
    height: 10vh;
}

footer a {
    font-size: 1em;
}


/*
.display_temp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300, 3fr));
}
*/

































/*MENU WEB CSS*/















































/*GENEREL WEB CSS*/

















































/*PRODUKTER WEB CSS*/

















































/*OM WEB CSS*/

















































/*KONTAKT WEB CSS*/
















































/*SINGLE VIEW WEB CSS*/
/* FONTS */

@font-face {
    font-family: "Athena-Regular";

    src: url("fonts/Athena-RegularPERSONALUSEONLY.woff") format("woff"),
        /* Modern Browsers */
        url("fonts/Athena-RegularPERSONALUSEONLY.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bellotaregular';
    src: url('fonts/Bellota-Regular-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Regular-webfont.woff') format('woff'),
        url('fonts/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotalight_italic';
    src: url('fonts/Bellota-LightItalic-webfont.woff2') format('woff2'),
        url('fonts/Bellota-LightItalic-webfont.woff') format('woff'),
        url('fonts/Bellota-LightItalic-webfont.svg#bellotalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotalight';
    src: url('fonts/Bellota-Light-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Light-webfont.woff') format('woff'),
        url('fonts/Bellota-Light-webfont.svg#bellotalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotaitalic';
    src: url('fonts/Bellota-Italic-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Italic-webfont.woff') format('woff'),
        url('fonts/Bellota-Italic-webfont.ttf') format('truetype'),
        url('fonts/Bellota-Italic-webfont.svg#bellotaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotabold_italic';
    src: url('fonts/Bellota-BoldItalic-webfont.eot');
    src: url('fonts/Bellota-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bellota-BoldItalic-webfont.woff2') format('woff2'),
        url('fonts/Bellota-BoldItalic-webfont.woff') format('woff'),
        url('fonts/Bellota-BoldItalic-webfont.ttf') format('truetype'),
        url('fonts/Bellota-BoldItalic-webfont.svg#bellotabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bellotabold';
    src: url('fonts/Bellota-Bold-webfont.eot');
    src: url('fonts/Bellota-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bellota-Bold-webfont.woff2') format('woff2'),
        url('fonts/Bellota-Bold-webfont.woff') format('woff'),
        url('fonts/Bellota-Bold-webfont.ttf') format('truetype'),
        url('fonts/Bellota-Bold-webfont.svg#bellotabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
