/*GENEREL CSS*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2 {
    ;
}

p,
a,
li {
    ;
}


















































---------------------------------------------------
/*MENU MOBIL CSS*/


.burgermenu {
    display: inline-block;
    cursor: pointer;
    /*    position: top: 0,
   right: 0;*/
}


.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 8px;
    transition: 0.4s;
}

.burger .bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.burger .bar2 {
    opacity: 0;
}

.burger .bar3 {
    transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}


.hide_nav {
    display: none;
}















































---------------------------------------------------
/*FORSIDE MOBIL CSS*/
















































---------------------------------------------------
/*PRODUKTER MOBIL CSS*/
















































--------------------------------------------------
/*OM MOBIL CSS*/
















































---------------------------------------------------
/*KONTAKT MOBIL CSS*/
















































---------------------------------------------------
/*SINGLE VIEW MOBIL CSS*/
















































--------------------------------------------
/*MEDIA QUERY WEB CSS*/


















































------------------------------------------------
/*MENU WEB CSS*/



@media only screen and (min-width: 600px) {
    body {
        max-width: 1440px;
    }

    #menu {
        display: flex;
        justify-content: center;
        width: 100vw;

    }

    nav a {
        float: left;
        padding: 20px 60px 20px 60px;
        margin-top: 20px;
    }



    .burgermenu {
        display: none;
    }














































    -------------------------------------------------
    /*GENEREL WEB CSS*/
















































    ----------------------------------------------
    /*PRODUKTER WEB CSS*/
















































    --------------------------------------------
    /*OM WEB CSS*/
















































    ---------------------------------------------------
    /*KONTAKT WEB CSS*/
















































    ----------------------------------------------
    /*SINGLE VIEW WEB CSS*/
















































    ------------------------------------------
